*{
	padding:0;
	margin:0;
}
html,body{
	height: 100%;
	width: 100%;
}
.wrapper{
	position: relative;
	width: 400px;
	height: 600px;
	margin:100px auto;
	overflow: hidden;
	border: 1px solid #000;
}
.start{
	position: absolute;
	width: 100%;
	top:0;
	text-align: center;
	z-index: 99;
}
.start a{
	color:cyan;
	font-size: 60px;
	text-decoration: none;
}
.main{
	position: absolute;
	width: 100%;
	height: 100%;
	v top:-150px;
}
.odiv{
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 99px;
	height: 149px;
	float: left;
}